@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --progress:#63f763;
  --white:#ffffff;
}

/* base styles & title */
body {
  font-family: 'Special Elite', cursive;

  color: var(--secondary);
}
.App {
  max-width: 1111px;
  margin: 0 auto;
}

.title {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--white);
}
form {
  z-index: 1;
  position: sticky;
  top: 10rem;
  background-color: var(--white);
}

.title h1 {
  color: var(--primary);
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: normal;
}
.title h2,
.title p {
  text-align: center;
  letter-spacing: 1px;
}
.title h2 {
  margin-top: 45px;
  letter-spacing: 1px;
  font-size: 2.6rem;
}

/* upload form styles */
input {
  height: 0;
  width: 0;
  opacity: 0;
}
/* progress bar styles */
.progressbar {
  height: 5px;
  border-radius: 10px;
  background-color: var(--progress);
  margin: 20px 0;
}
.msg {
  margin-top: 20px;
  height: 50px;
}
/* image grid styles */
.home {
  display: grid;
  margin: 10px auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  overflow-y: hid;
  border: 1px solid var(--white);
}
.collection {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
}

.collection img {
  min-height: 100%;
  min-width: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */

.lighthouse {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.lighthouse img {
  display: block;
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  object-fit: contain;
  transform: translate(0, 40%);
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.svg {
  background-color: var(--primary);
  transition: transform 300ms, background-color 300ms;
  animation: pulse 500ms;
}

.svg:hover {
  fill: var(--primary);
  transform: scale(1.05);
  transition: all 0.3s ease;
}
.svg:active {
  transform: scale(0.95);
  animation: none;
}

@keyframes pulse {
  from {
    box-shadow: #efb6b2 0 0 0;
  }
  to {
    box-shadow: #ff69b400 0 0 0 12px;
  }
}

@media only screen and (max-width: 600px) {
  form {
    top: 10rem;
  }
  .home {
    grid-gap: 10px;
  }

  .title h2 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 360px) {
  form {
    top: 9.7rem;
  }
  .home {
    grid-gap: 10px;
  }

  .title h2 {
    font-size: 1.6rem;
  }
}
